table, td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #666666;
}

tr:hover{
  background-color: #201ea7ab;
}