form {
	box-sizing: content-box;
	display: grid;
}

input[type=text] {
	
}

table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 50px;
  }